body
{
background-color: #fff;
}
a img
{ 
    text-decoration: none;
border: 0;
}

#title
{
    text-align: center;
    font-size: 1.25em;
    font-family:   Verdana, Arial, Helvetica, sans-serif;
    font-weight:     bold;
    margin:     0;
    padding:   0;
    position:  relative;
}

#gallery
{
    text-align: center;
}

#pic
{
        display: inline;
        text-align: center;
        width: 425px;
}

.frame-outer span {
        display: inline-block;
        background: url(images/frame-top-left.jpg) no-repeat left top;
}

.frame-outer span span {
        background: url(images/frame-bottom-left.jpg) no-repeat left bottom;
}

.frame-outer span span span {
        background: url(images/frame-top-right.jpg) no-repeat right top;
}

.frame-outer span span span span {
        background: url(images/frame-bottom-right.jpg) no-repeat right bottom;
        padding: 32px;
        min-width: 150px;
        min-height: 150px;
        overflow: hidden;
}

.frame-outer span span span span * {
        max-width: 425px;
}
.frame-outer span span span span span {
        background: none;
}
